In [25]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import session

In [5]:
mysql_connection = "mysql+mysqlconnector://root:root@127.0.0.1:3306/sakila"

In [9]:
sqlite_connection = "sqlite+pysqlite:///sakila.db"
memory_connection = "sqlite+pysqlite:///:memory:"

In [26]:
engine = create_engine(mysql_connection)

In [8]:
print(engine)

Engine(mysql+mysqlconnector://root:***@127.0.0.1:3306/sakila)

In [28]:
cnx = engine.connect()

In [30]:
cnx.execute("Select * from film limit 1").all()

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', {'Behind the Scenes', 'Deleted Scenes'}, datetime.datetime(2006, 2, 15, 5, 3, 42))]

In [14]:
cnx.close()

In [15]:
with engine.connect() as cnx:
    result = cnx.execute("SELECT * FROM inventory LIMIT 1").all()
print(result)

[(1, 1, 1, datetime.datetime(2006, 2, 15, 5, 9, 17))]

In [21]:
with engine.connect() as cnx:
    cnx.commit()

In [32]:
from sqlalchemy import Column,Integer, String, Date
from sqlalchemy.orm import declarative_base, relationship
Base = declarative_base()

In [ ]:
class Film(Base):
    __tablename__ = 'film'
    
    film_id = Column(Integer,primary_key= True)
    title = Column(String)
    description = Column(String)
    release_year = Column(Date)
    language_id = Column(Integer)