In [41]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
print(sqlalchemy.__version__)

1.4.40

In [16]:
db = "augpython"
mysql_connection = "mysql+mysqlconnector://root:rootroot@localhost:3306/" + db
sqlite_connection = "sqlite+pysqlite:///augpython.db"
memory_connection = "sqlite+pysqlite:///:memory:"

In [36]:
engine = create_engine(mysql_connection, future=True)
print(engine)

Engine(mysql+mysqlconnector://root:***@localhost:3306/augpython)

In [37]:
with engine.connect() as conn:
    res = conn.execute(text("SELECT * FROM chef")).all()
res

[(1, 'Chef Boyarde', 4, 'Bruschetta'),
 (2, 'Guy Fieri', 1, 'Croque Madame Sandwich'),
 (3, 'Gordon Ramsey', 5, 'Croque Madame Sandwich'),
 (7, 'Mattie Maathison', 9, 'Chicken'),
 (14, 'Chef Charles', 4, 'Shake'),
 (15, 'Swedish Chef', 1, 'Bork Bork Bork'),
 (24, 'Whatta Chef', 5, 'Burger'),
 (25, 'Shake Chef', 4, 'Choclate Milkshake')]

In [38]:
with Session(engine) as session:
    session.execute("INSERT INTO restaurant(rest_name) VALUES ('Popeyes')")
    session.commit()

In [52]:
with Session(engine) as session:
    res = session.execute(text("SELECT * FROM restaurant where rest_name in (:x,:y)"),[{'x':'Popeyes','y':'Whattaburger'}]).all()
res

[(5, 'Whattaburger'), (13, 'Popeyes')]

In [96]:
from sqlalchemy import Column, Integer, String, ForeignKey, select
from sqlalchemy.orm import Session, declarative_base, relationship

In [106]:
Base = declarative_base()
class Restaurant(Base):
    __tablename__ = 'restaurant'

    rest_id = Column(Integer, primary_key = True)
    rest_name = Column(String)

    chefs = relationship('Chef', back_populates="restaurant")

    def __repr__(self):
        return f"Id: {self.rest_id}, Name: {self.rest_name}, Chefs: {[chef.chef_name for chef in self.chefs]}"

class Chef(Base):
    __tablename__ = "chef"

    chef_id = Column(Integer, primary_key = True)
    chef_name = Column(String)
    best_dish = Column(String)
    rest_id = Column(Integer, ForeignKey('restaurant.rest_id'))

    restaurant = relationship('Restaurant', back_populates="chefs")

    def __repr__(self):
        return f"Id: {self.chef_id}, Name: {self.chef_name}, Best Dish: {self.best_dish}, Restaurant: [{self.restaurant}]"

In [98]:
Chef.__table__

Table('chef', MetaData(), Column('chef_id', Integer(), table=<chef>, primary_key=True, nullable=False), Column('chef_name', String(), table=<chef>), Column('best_dish', String(), table=<chef>), Column('rest_id', Integer(), ForeignKey('restaurant.rest_id'), table=<chef>), schema=None)

In [116]:
with Session(engine) as session:
    res = session.execute(select(Restaurant)).all()
    print(res)

[(Id: 1, Name: Waffle House, Chefs: ['Guy Fieri', 'Swedish Chef'],), (Id: 2, Name: Little Havana, Chefs: [],), (Id: 3, Name: Tavern on the Green, Chefs: [],), (Id: 4, Name: Shake Shack, Chefs: ['Chef Boyarde', 'Chef Charles', 'Shake Chef'],), (Id: 5, Name: Whattaburger, Chefs: ['Gordon Ramsey', 'Whatta Chef'],), (Id: 9, Name: Parts and Labor, Chefs: ['Mattie Maathison'],), (Id: 10, Name: new restaurant, Chefs: [],), (Id: 11, Name: new restaurant 2, Chefs: [],), (Id: 12, Name: new restaurant 3, Chefs: [],), (Id: 13, Name: Popeyes, Chefs: [],), (Id: 14, Name: Toms Restaurant, Chefs: [],)]

In [122]:
with Session(engine) as session:
    res = session.execute(select(Chef)).all()
    print(res)

[(Id: 1, Name: Chef Boyarde, Best Dish: Bruschetta, Restaurant: [Id: 4, Name: Shake Shack, Chefs: ['Chef Boyarde', 'Chef Charles', 'Shake Chef']],), (Id: 2, Name: Guy Fieri, Best Dish: Croque Madame Sandwich, Restaurant: [Id: 1, Name: Waffle House, Chefs: ['Guy Fieri', 'Swedish Chef']],), (Id: 3, Name: Gordon Ramsey, Best Dish: Croque Madame Sandwich, Restaurant: [Id: 5, Name: Whattaburger, Chefs: ['Gordon Ramsey', 'Whatta Chef']],), (Id: 7, Name: Mattie Maathison, Best Dish: Chicken, Restaurant: [Id: 9, Name: Parts and Labor, Chefs: ['Mattie Maathison']],), (Id: 14, Name: Chef Charles, Best Dish: Shake, Restaurant: [Id: 4, Name: Shake Shack, Chefs: ['Chef Boyarde', 'Chef Charles', 'Shake Chef']],), (Id: 15, Name: Swedish Chef, Best Dish: Bork Bork Bork, Restaurant: [Id: 1, Name: Waffle House, Chefs: ['Guy Fieri', 'Swedish Chef']],), (Id: 16, Name: Tom, Best Dish: Apple Pie, Restaurant: [Id: 14, Name: Toms Restaurant, Chefs: ['Tom']],), (Id: 24, Name: Whatta Chef, Best Dish: Burger, Restaurant: [Id: 5, Name: Whattaburger, Chefs: ['Gordon Ramsey', 'Whatta Chef']],), (Id: 25, Name: Shake Chef, Best Dish: Choclate Milkshake, Restaurant: [Id: 4, Name: Shake Shack, Chefs: ['Chef Boyarde', 'Chef Charles', 'Shake Chef']],)]

In [115]:
with Session(engine) as session:
    toms = Restaurant(rest_id = 14, rest_name = "Toms Restaurant")
    session.add(toms)
    print(session.new)
    session.commit()
    session.flush()
    print(session.new)

IdentitySet([Id: 14, Name: Toms Restaurant, Chefs: []])
IdentitySet([])

In [121]:
with Session(engine) as session:
    tom = Chef(chef_id = 16, chef_name = "Tom", best_dish = "Apple Pie", rest_id = 14)
    session.add(tom)
    session.commit()

In [124]:
with Session(engine) as session:
    res = session.execute(select(Chef).where(Chef.chef_name == "Tom")).all()
    print(res)

[(Id: 16, Name: Tom, Best Dish: Apple Pie, Restaurant: [Id: 14, Name: Toms Restaurant, Chefs: ['Tom']],)]